openapi: 3.0.0
info:
  version: 1.0.0
  title: Open Toolchain
  x-codegen-config:
    python:
      apiPackage: ibm_opentoolchain
    go:
      improvedNameFormattingV2: true
      apiPackage: github.com/dariusbakunas/opentoolchain-go-sdk
  x-acronyms:
    - guid
servers:
  - url: 'https://cloud.ibm.com'
paths:
  /devops/toolchains/{guid}:
    get:
      security:
        - iamToken: []
      summary: 'Returns details about a particular toolchain'
      operationId: getToolchain
      tags:
        - toolchain
      parameters:
        - name: guid
          in: path
          description: GUID of the toolchain
          required: true
          schema:
            type: string
        - name: env_id
          in: query
          description: Environment ID
          required: true
          schema:
            type: string
          example: "ibm:yp:us-south"            
      responses:
        '200':
          description: 'Details about a toolchain'          
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Toolchain'
        default:
          description: Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      security:
        - iamToken: []
      operationId: patchToolchain
      summary: 'Update toolchain parameters'
      parameters:
        - name: guid
          in: path
          description: GUID of the toolchain
          required: true
          schema:
            type: string
        - name: env_id
          in: query
          description: Environment ID
          required: true
          schema:
            type: string
          example: "ibm:yp:us-south"
      requestBody:
        content:            
            application/json:
              schema:
                $ref: "#/components/schemas/PatchToolchainParams"
      responses:
        204:
          description: Toolchain was patched successfully.                     
        default:
          description: Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'    
    delete:
      operationId: deleteToolchain
      security:
        - iamToken: []
      description: Delete existing toolchain
      parameters:
        - name: guid
          in: path
          description: GUID of the toolchain
          required: true
          schema:
            type: string
        - name: env_id
          in: query
          description: Environment ID
          required: true
          schema:
            type: string
          example: "ibm:yp:us-south" 
      responses:
        '200':
          description: OK
        '204':
          description: OK
        default:
          description: Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devops/setup/deploy:
    post:
      security:
        - iamToken: []
      summary: Headless Toolchain Creation/Update using POST
      operationId: createToolchain
      description: |
        This info is from the document:-
          https://github.com/open-toolchain/sdk/wiki/Toolchain-Creation-page-parameters
      parameters:        
        - name: env_id
          in: query
          description: Environment ID
          required: true
          schema:
            type: string
          example: "ibm:yp:us-south" 
      requestBody:
        content:            
            multipart/form-data:
              schema:
                $ref: "#/components/schemas/CreateToolchainParams"
      responses:
        201:
          description: Toolchain was created successfully.
          headers:
            Location:
              description: The URL of the created toolchain.
              schema:
                type: string
                format: uri                
        default:
          description: Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'          
  /devops/pipelines/tekton/api/v1/{guid}:
    get:
      security:
        - iamToken: []
      summary: 'Returns details about a particular tekton pipeline'
      operationId: getTektonPipeline
      tags:
        - pipeline
      parameters:
        - name: guid
          in: path
          description: GUID of the pipeline
          required: true
          schema:
            type: string
        - name: env_id
          in: query
          description: Environment ID
          required: true
          schema:
            type: string
          example: "ibm:yp:us-south"
      responses:
        '200':
          description: 'Details about a pipeline'          
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TektonPipeline'
        default:
          description: Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    iamToken:
      type: apiKey
      name: Authorization
      in: header
      description: A Cloud IAM access token is required to access the OpenToolchain APIs.
        The token should be provided in the following format "Bearer [token]",
        for example "Bearer
        eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkdW1teSJ9.J2qaJ4pTWnidXQ3XbMmpAllL2ZiCCNkSoh0k1d7_ct1"
  schemas:
    Error:
      type: object
      required: [description, status]
      properties:
        description:
          type: string
        details:
          description: Provides additional information about the error.
          type: object
        status:
          type: string
          enum: [error, warning]
    TektonPipeline:
      type: object
      required:
        - name
        - id
        - toolchainId
        - envProperties
      properties:
        name:
          type: string
        id:
          type: string
        toolchainId:
          type: string
        pipelineOwner:
          type: string
        enabled:
          type: boolean
        type:
          type: string
        created:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updated_at_timestamp:
          type: number
        created_timestamp:
          type: number
        envProperties:
          type: array
          items:
            $ref: '#/components/schemas/EnvProperty'
        status:
          type: string
        url:
          type: string
        runs_url:
          type: string
        toolchainCRN:
          type: string
        pipelineDefinitionId:
          type: string
    EnvProperty:
      type: 'object'
      required:
        - name
        - value
        - type
      properties:
        name:
          type: string
        value:
          type: string
        type:
          type: string
    Toolchain:
      type: object
      required:
        - toolchain_guid
        - name
      properties:
        toolchain_guid:
          type: string          
        name:
          type: string        
        description:
          type: string
        key:
          type: string
        container:
          $ref: '#/components/schemas/Container'
        crn:
          type: string
        created:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        creator:
          type: string
        generator:
          type: string
        template:
          type: object
          properties:
            getting_started:
              type: string
            services_total:
              type: integer
            name:
              type: string
            type:
              type: string
            url:
              type: string
            source:
              type: string
            locale:
              type: string
        tags:
          type: array
          items:
            type: string
        lifecycle_messaging_webhook_id:
          type: string
        region_id:
          type: string
        services:
          type: array
          items:            
            $ref: '#/components/schemas/Service'             
    Service:
      type: object
      required:
        - "service_id"
      properties:
        broker_id:
          type: string
        service_id:
          type: string
        container:
          $ref: '#/components/schemas/Container'
        updated_at:
          type: string
          format: date-time
        parameters:          
          $ref: '#/components/schemas/ServiceParams'
        status:
          type: object
          properties:
            state:
              type: string
        dashboard_url:
          type: string
        region_id:
          type: string
        instance_id:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        url:
          type: string
        toolchain_binding:
          type: object
          properties:
            status:
              type: object
              properties:
                state:
                  type: string
            name:
              type: string    
            webhook_id:
              type: string          
    Container:
      type: object
      properties:
        guid:
          type: string
        type:
          type: string    
    PatchToolchainParams:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: "Toolchain name"
    CreateToolchainParams:
      type: object
      required: [repository]
      additionalProperties: true
      properties:         
        repository:
          type: string
          description: |
            The URL of the Git repository containing the template. 
            (For example:- https://github.com/open-toolchain/simple-toolchain)
        autocreate:
          type: boolean
          description: |
             If this param is not provided, then the creation will be ignored 
             and it will just load the toolchain creation page.
        resourceGroupId:
          type: string
          description: |
            The GUID of resource group where toolchain will be created. 
            Pass this parameter, if you want to create the toolchain inside the resource group instead of an org.
        repository_token:          
          type: string
          description: |
            Optional git api token to access template repository
        branch:
          type: string
          description: |
            The Git branch name that the template will be read from. 
            Optional. Defaults to `master`
    ServiceParams:
      type: object
      properties:
        label:
          type: string
        type:
          type: string
        services:
          type: string
        name:
          type: string        
        configuration:
          type: string
        ui_pipeline:
          x-alternate-name: "ui-pipeline-flag"
          type: boolean
        key_type:
          type: string
        api_key:
          type: string
        service_name:
          type: string
        user_email:
          type: string
        user_phone:
          type: string
        service_url:
          type: string
        service_key:
          type: string        
        repo_name: 
          type: string
        repo_url:
          type: string
        private_repo:
          type: boolean
        has_issues:
          type: boolean
        api_token:
          type: string
        channel_name:
          type: string
        team_url:
          type: string    
      
      